/* Add CSS Styling */
.odd {
    background-color: rgb(255, 127, 127);
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#second {
    color: #0000FF;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: hsl(120, 73%, 75%);
    font-weight: bold;
    font-size: 24px;
}